<aside>
    <div class="title"><img src="./greenPawn.png" alt="MyChessOnline"><h1>MyChessOnline</h1></div>
    <ul>
        <li><img src="playHere.png" alt="Play here">Play here</li>
        <li><img src="createGame.png" alt="Create Game">Create Game</li>
        <li><img src="joinGame.png" alt="Join Game">Join Game</li>
    </ul>
    <!-- <div class="rellanador"> </div> -->
    <div class="login_button_container">
        <button class="login_button signUp_button">Sign up</button>
        <button class="login_button logIn_button">Log in</button>
    </div>
    <div class="contact">
        <a class="madeBy" href="https://github.com/frankxhunter/MyChessOnline" target="_blank" ><img  src="icons\github.svg" alt="heart"> Repository</a>
        <a class="madeBy" href="https://portafolio-frankxhunter.vercel.app/" target="_blank" ><img  src="heart.png" alt="heart"> By Frank</a>
    </div>
</aside>
